/simulations
/sim_data
*.pyc
/base_files/Rosslyn_60GHz
/base_files/rosslyn_2.14GHz
/base_files/rosslynbase
/base_files/B-pnm-SP
/base_files/pnm-SP-noBuildings
/base_files/B-pnm-SP.zip
/augmented
augmentation.ipynb
base_files/sumo/B-pnm-SP.net.xml
/base_files/sumo/B-pnm-SP.rou.xml
/base_files/sumo/B-pnm-SP.sumo.cfg
/base_files/sumo/parque-novo-mundo-SP.net.xml
/base_files/sumo/parque-novo-mundo-SP.rou.xml
/base_files/sumo/parque-novo-mundo-SP.sumo.cfg
/base_files/sumo/seasonal2.net.xml
/base_files/sumo/seasonal2.rou.xml
/base_files/sumo/seasonal2.sumo.cfg

/rwisimulation.egg-info
*.egg
*.db
/sim_data
