*.pyc
*.egg
*.db
.venv
/rmt.egg-info
/data/rosslyn/out/

# --- Local folder and temp results of animation module ---
utils/animation/bases_files
utils/animation/blensor_frames
utils/animation/temp_processing

.DS_Store
*.mp4
*.pcd
